.no-items-in-cart {
    font-size:3em;
    position: absolute;
    color: lightgray;
    height: 100%;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.switch-button {
    padding: 0 !important;
}