<div class="col-md-4">
    <h1>Login</h1>
    <div ng-show="$ctrl.error" class="alert alert-danger">{{$ctrl.errorMessage}}</div>
    <form class="form" ng-submit="$ctrl.login()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" ng-model="$ctrl.loginForm.username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="$ctrl.loginForm.password" required>
        </div>
        <div>
            <button type="submit" class="btn btn-default" ng-disabled="$ctrl.disabled">Login</button>
            <button type="button" class="btn btn-default" ui-sref="register">Register</button>
        </div>
    </form>
</div>